* {
    font-family: "BDO Grotesk";
}

html {
    overflow-x: hidden;
}

body {
    background-image: linear-gradient(to bottom right, #4169e1, #234199);
    background-repeat: no-repeat;
    background-size: auto;
}

h1 {
    font-family: "Abuget";
}

.hero-img-1,
.hero-img-2,
.hero-img-3 {
    position: absolute;
    height: 50%;
    width: auto;
    z-index: -1;
}

.hero-img-1 {
    right: 0;
}

.hero-img-3 {
    bottom: 5%;
    left: 15%;
}

@media screen and (max-width: 768px) {
    .hero-img-1,
    .hero-img-2 {
        display: none;
    }

    .hero-img-3 {
        opacity: 0.5;
    }
}
